footer{
  text-align: center;
}

#copyright{
  margin-top: 16px;
}

.services{
  text-align: center;
}
.featurette{
  padding-top: 35px;
  padding-bottom: 25px;
}
#links{
  text-decoration: none;
  color: #343a40
}
