/*nav*/
#img-fluid{
  max-width: 100%;
  height: auto;
}

/*feature*/
.featurette {
  padding-top: 35px;
  padding-bottom: 25px;
}

/*services*/
.services {
  text-align: center;
}
.guaranteed {
  color: blue;
}
.contact__container {
  margin: auto;
  width: 50%;
  text-align: center;
}
@media only screen (max-width: 600px) {
  .contact__buttons {
    padding: 10px;
  }
}

/*footer*/
footer {
  text-align: left;
}

#copyright {
  margin-top: 16px;
  text-align: center;
}
#links {
  /*text-decoration: none;*/
  color: #343a40
}

#fa {
  font-size: 50px;
}