/*nav*/
#img-fluid{
  max-width: 100%;
  height: auto;
}

/*feature*/
.featurette {
  padding-top: 35px;
  padding-bottom: 25px;
}

/*services*/
.services {
  text-align: center;
}
.guaranteed{
  color: blue;
}
/*footer*/
footer {
  text-align: center;
}

#copyright {
  margin-top: 16px;
}
#links {
  /*text-decoration: none;*/
  color: #343a40
}
#created {
  /*text-decoration: none;*/
  /*color: #343a40*/
}